* {
    box-sizing: border-box;
    font-family: system-ui;

}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


.playfield {
    width: 100%;
    max-width: 1200px;
    display: flex;
    gap: 10px;
    align-items: start;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    min-height: 80%;

}

.gamecard {
    height: 230px;
    width: 220px;
    overflow: clip;
    border-radius: 8px;

}

.gamecard > img {
    object-fit: cover;
    border-radius: 4px;
}


@media (max-width: 600px) {
    .gamecard {
        height: 115px;
        width: 110px;
    }

    .gamecard > img {
        transform: scale(0.5);
        transform-origin: 0 0;
    }

}

.header {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 4%;
    margin: 0 12% 0 4%
}


.loading {
    min-height: 80%;
}
.headerImage {
    max-width: 33%;
    min-width: 200px;
}

.current-score, .high-score {
    font-size: 20px;
    font-weight: 600;

}

.footer {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 12px;
}

.footer > a {
    color: black;
    font-weight: 600;
    font-size: 20px;
    margin: 3% 12% 0 4%;
}



